name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  actions: read
  contents: read

jobs:
  test:
    name: ${{ matrix.module }} (v${{ matrix.version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - '1.5'
          - '1.6'
          - '1.7'
          - '1.8'
          - '1.9'
          - '1.10'
          - '1.11'
          - '1.12'
          - '1.13'
          - '1.14'
        module:
          - generic-execution-roles
          - generic-integration-test-policy
      max-parallel: 5
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.version }}
      - run: terraform init
        working-directory: ./modules/${{ matrix.module }}
      - run: terraform test
        working-directory: ./modules/${{ matrix.module }}
